@model WebPedido.Models.Pedido

@{
    ViewData["Title"] = "Detalhes Pedido";

}

<h1>Pedido Detalhe</h1>
<br />

<div class="shadow tela-contato">
    <dl class="row">
        <dt class="col-sm-2">
            PEDIDO
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.ID)
        </dt>
        <dt class="col-sm-2">
            NOME : 
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Cliente.Nome)
        </dt>
        <dt class="col-sm-2">
            TELEFONE
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Cliente.Telefone)
        </dt>
        <br />
 

        <div class="">
            <table class="tabela-contato shadow tela-contato">
                <thead>
                    <tr class="cabecario">
                        <th class="linha-cabecario">
                            PRODUTO
                        </th>
                        <th>
                            QUANTIDADE
                        </th>
                        <th>
                            PRECO UNITARIO
                        </th>
                        <th>
                            TOTAL
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        decimal total = 0;
                    }
        @foreach (var item in Model.Itens)
        {
            <tr>
                <td class="linha-cabecario">@item.Produto.Nome</td>
                <td>@item.Quantidade</td>
                <td>@item.PrecoUnitario</td>
                <td>@(item.PrecoUnitario*item.Quantidade)</td>
            </tr>
                total += item.PrecoUnitario * item.Quantidade;
        }
        <br />
        <br />
                </tbody>
            </table>

            <br />
            <p class="totalPedido">Total: @total</p>
            
        </div>

    </dl>
</div>
<a asp-action="Editar" asp-route-id="@Model.ID">Editar</a>
<a asp-action="Index">Voltar</a>
