@model WebPedido.Models.Pedido

@{
    ViewData["Title"] = "Detalhes Pedido";

}

<h1>Cliente Detalhe</h1>

<div class="shadow tela-contato">
    <dl class="row">
        <dt class="col-sm-2">
            PEDIDO
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.ID)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Cliente.Nome)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Cliente.Telefone)
        </dt>

        <dt>
            @Html.DisplayFor(x => x.Itens)
        </dt>
    </dl>
</div>
<a asp-action="Editar" asp-route-id="@Model.ID">Editar</a>
<a asp-action="Index">Voltar</a>
