@model WebPedido.Models.Produto

@{
    ViewData["Title"] = "Detalhes do Produto";

}

<h1>Cliente Detalhe</h1>

<div class="shadow tela-contato">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Nome)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Nome)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Descricao)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Descricao)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Preco)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Preco)
        </dt>

    </dl>
</div>
<a asp-action="Editar" asp-route-id="@Model.ID">Editar</a>
<a asp-action="Index">Voltar</a>
